.section-title{
    position: relative;

}

.section-title::after{
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 100px;
    background: #2740358f;
    transform: translateX(-50%);
    border-radius: 50%;
}