.form-bg{
    background: linear-gradient(rgba(255, 255, 255, 0.562), rgba(255, 255, 255, 0.384)), url("https://store.adveits.com/project/loversy/vue-js/demo/assets/img/demo/04_img.png");
    background-position: left center;
    background-size: 50%;
    background-repeat: no-repeat;

}